html, body {
  height: 100%;
  background-color: #FEFEF2;
}

#topBar {
    margin-top: 3%;
}

#jsRow {
    background-color: #5F9EA0;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  background-color: black;
} 