html, body {
  height: 100%;
  background-color: white;
}

h1 {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    }

.wrap {
    position: relative;
}

#profile {
    position: absolute;
    left: 20%;
    top: 93%;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 2px .5px black; /*sets secondary pic outline*/
    border-radius: 100%
}

#invisible {
    float: left;
    display: inline-block;
    height: 75px;
    width: 100%;
}

#blueLine {
    margin-top: 10%;
    background-color: #5F9EA0;
    height: 40%;
}

.clickable {
    border: 3px solid black;
    border-radius: 20px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  background-color: black;
} 