body {
    background-color:aliceblue
}

.header {
    margin:auto;
    background-color: #4682B4;
    color: white;
}

.bigBlock {
    background-color: darkslategrey;
    margin: auto;
    padding: 0;
    width:100%;
    display: block;
}

#title {
    display: inline;
    border-width:5px 0;
    list-style:none;
    margin:auto 0;
    padding:0;
    text-align:center;
    font-family:'Arial Rounded MT';
}

nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family:Arial, Calibri;
    font-size: 14px;
}

nav li{
    display:inline;
}

nav a{
    display:inline-block;
    padding:0px;
}




