body {
    background-color:darkslategrey;
}

.header {
    margin-bottom: 20px;
    background-color: #4682B4;
    color: white;
    font-family: Arial;
}

.header nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: Arial Narrow, Calibri;
    font-size: 16px;
}

nav li{
    display:inline;
    margin-left: 20px;
    margin-right: 20px;
}

nav a{
    display:inline-block;
    padding:0px;
}




