    body {
	margin: 0 auto 0; 
    position: relative;
}

* { 
    margin: 0; 
    padding: 0; 
}


.slider-nav { 
	display: none; 
	margin-top: 1em;
}

.slider-nav button {
    font: bold 50px arial narrow;
    color: darkolivegreen;
    background-color: #EEF3E2;
	cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    width: 120%;
    /*border:hidden;
    background-color: transparent;*/
}

.slider {
	overflow: scroll;
    position: relative;
    width: 1100px; /*might want to change*/
    height: auto; 
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
}

.slider ul {
	width: 10000px;
	list-style: none;
}

.slider li {
	float: left;
}


#back {
    margin: 0;
    display: block;
    left: 0;
    position: absolute;
    top: 50%;
    margin-left: 10px;
}

#forward {
    margin: 0;
    display: block;
    right: 0;
    position: absolute;
    top: 50%;
    margin-right: 10px;
}